:root{
   
    --background: #0B141E;
   --color-leta-blnc: #FFFFFF;

   /* --color-letra:
      --color-outline:



      darkmode:

    */  

   --fuente: 'Poppins', sans-serif;
}

body{
    background-color: var(--background) ;
    font-family: var(--fuente);
    color: var(--color-leta-blnc) ;
}

section{
    min-height: 100vh;
    padding: 10rem 10%;
}


/*Sección Menu*/

/*No funciona: transiciones */

.menu__header{ 
    background: rgba(0, 0, 0, 0.9); /*poner variable color */
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%; 
    padding: 2rem 10%;     
    justify-content: space-between;
    align-items: center;      
    z-index: 1;
}

.menu__title{    
    font-size: 2.2rem;
    font-weight: 600;
    color: aqua
}


#menu__button{
    display: none;
    font-size: 3rem;    
}

.menu__list{
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-end;
   align-items: center;
}

.menu__list__item a{
    font-size: 1.5rem;
    margin-left: 3.5rem;
    transition: 0.4s ease;
}

.menu__list__item a:hover{
    color: aqua;
}


/*Sección Home*/

.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*background: linear-gradient(-90deg, var(--background) 65%, var(--color-leta-blnc) 35% );*/
}


.home__image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: aqua;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 25px solid #FFFFFF;
    background-image: url('../img/profile.jpg');
    outline: 25px solid #081B29;
}

.home__content{
    max-width: 37.5rem;
}

.title__bio{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
}

.title__subsection{
    font-size: 2rem;
    font-weight: 700;
    color: #00ABF0;
}

.home__content p{
    font-size: 1rem;
    margin: 1.25rem 0 2.5rem;
}

.home__btn__box{
    display: flex;
    justify-content: space-between;
    width: 21.5625rem;
    height: 3.125rem;
}

.home__btn__item{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 9.375rem;
    height: 100%;
    background: #00ABF0;
    border: 2px solid #00ABF0;
    border-radius: 8px;
    font-size: 1.1875rem;
    color: #0B141E;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home__btn__item:hover{
    color: #00ABF0;
}

/* cambia 2do botón */

.home__btn__item:nth-child(2){
    background: transparent;
    color: #00ABF0;
}

.home__btn__item:nth-child(2):hover{
    color: #081B29;
}

.home__btn__item:nth-child(2)::before{
    background: #00ABF0;
}

/* Efecto cortina */

.home__btn__item::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081B29;
    z-index: -1;
    transition: .5s;
}


.home__btn__item:hover::before{
    width: 100%;
}

/*        */

.home__sci{
    position: absolute;
    bottom: 2.5rem;
    width: 9rem;
    display: flex;
    justify-content: space-evenly;
}

.home__sci__item{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: 2px solid #00ABF0;
    border-radius: 50%;
    font-size: 1.25rem;
    color: #00ABF0;
    z-index: 1;
    overflow: hidden;
}

/* Efecto cortina */

.home__sci__item::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: red;
    z-index: -1;
    transition: .5s; 
}

.home__sci__item:hover::before{
    height: 100%;
}




/*Sección About*/

.about__container{    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 0;   
    gap: 3rem;
}

.about__title{
    font-size: 3.2rem;
    margin-bottom: 2rem;
}

.about__title span{
    color: aqua;
}

.about__paragraph{
    font-size: 1.6rem;
}



/*Sección Skills*/
.skills{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}

.skills__title{
    font-size: 3.2rem;
    margin-bottom: 2rem;
}

.skills__container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 4rem;
}

.skills__line{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}

.skills__card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;  
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);  
}

.skills__card:hover{
    border-radius: 1rem solid;
    transform: scale(1.05); 
}

.skills__img{
    font-size: 7rem;
    transition: 0.4s ease;
}

.skills__img:hover{
    color: aqua;
}

.skills__name{
    font-size: 2rem;
    font-weight: 200;
}


/*Sección Hobbies*/

.hobbies{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}

.hobbies__title{
    font-size: 3.2rem;
    margin-bottom: 2rem;
}

.hobbies__line{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 3rem;
}

.hobbies__card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;  
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);  
}

.hobbies__card:hover{
    border-radius: 1rem solid;
    transform: scale(1.05); 
}

.hobbies__img{
    font-size: 7rem;
    transition: 0.4s ease;
    display: flex;
    justify-content: center;
}

.hobbies__img:hover{
    color: aqua;
}

.hobbies__name{
    font-size: 2rem;
    font-weight: 200;
}













@media screen and (max-width: 480px) {
   
    #menu__button{
        display: block;
        cursor: pointer;  
    }
    
    /*TODO transición */

    .menu__header__nav{
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background: rgba(0, 0, 0, 0.9);
        display: none;
        pointer-events: none;
    }

    .menu__header__nav.activo{
        display: block;
        height: 100vh;
        pointer-events: auto;
    }

    .menu__list{
        flex-direction: column;
    }

    .menu__list__item{
        margin: 1.2rem 0 1.2rem 0;
    }
    
    .title__div{
        flex-direction: column;
    }

}