:root{   
    --background: #0B141E;
    --background-header: #000000e6;
    --color-letra-blnc: #FFFFFF;
    --color-contraste: #00ABF0;
    --color-sec-cortina: #081B29;
    --color-blue: #2A7AE4;
    --color-label: #A2A2A2;
    --color-border-input: #C8C8C8;
    --color-warning: #D71010;
    --color-valid: #4FB737;
    --fuente: 'Poppins', sans-serif;
}

/* TO DO:
-ELEGIR PALETA DE COLORES
-DRARKMODE
*/

html {
    scroll-behavior: smooth;
}

body{
    background-color: var(--background) ;
    font-family: var(--fuente);
    color: var(--color-letra-blnc) ;
}

section{
    min-height: 100vh;
    padding: 10rem 8%;
}


/*Sección Menu*/

.menu__header{ 
    background: var(--background-header);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%; 
    padding: 2rem 8%;     
    justify-content: space-between;
    align-items: center;      
    z-index: 1;
}

.menu__title{    
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--color-contraste);
}


#menu__button{
    display: none;
    font-size: 3rem;    
}

.menu__list{
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-end;
   align-items: center;
}

.menu__list__item a{
    font-size: 1.5rem;
    margin-left: 3.5rem;
    transition: 0.4s ease;
}

.menu__list__item a:hover{
    color: var(--color-contraste);
}


/*Sección Home*/

.home{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;    
}


.home__image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: var(--color-contraste);
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 25px solid var(--color-letra-blnc);
    background-image: url('../img/profile.jpg');
}

.home__content{
    display: flex;
    flex-direction: column;
    max-width: 37.5rem;
    margin-left: 5rem;
}

.title__bio{
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.2;
}

.title__subsection{
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-contraste);
    margin: 1.25rem 0 3.5rem;
}

.home__btn__box, .experience__container-enlace, .contacto__btn{
    display: flex;
    justify-content: space-between;
    width: 21.5625rem;
    height: 3.125rem;
}

.home__btn__item, .experience__enlace, .contacto__btn__submit{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 9.375rem;
    height: 100%;
    background: var(--color-contraste);
    border: 2px solid var(--color-contraste);
    border-radius: 8px;
    font-size: 1.1875rem;
    color: var(--background);
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 0;
    overflow: hidden;
    transition: .5s;
}

.home__btn__item:hover, .experience__enlace:hover, .contacto__btn__submit:hover{
    color: var(--color-contraste);
}

/* cambia 2do botón */

.home__btn__item:nth-child(2), .experience__enlace:nth-child(2){
    background: transparent;
    color: var(--color-contraste);
}

.home__btn__item:nth-child(2):hover, .experience__enlace:nth-child(2):hover{
    color: var(--color-sec-cortina);
}

.home__btn__item:nth-child(2)::before, .experience__enlace:nth-child(2)::before{
    background: var(--color-contraste);
}

/* Efecto cortina */

.home__btn__item::before, .experience__enlace::before, .contacto__btn__submit::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--color-sec-cortina);
    z-index: -1;
    transition: .5s;
}


.home__btn__item:hover::before, .experience__enlace:hover::before, .contacto__btn__submit:hover::before{
    width: 100%;
}

/*        */

.home__sci{
    position: absolute;
    bottom: 2.5rem;
    width: 9rem;
    display: flex;
    justify-content: space-evenly;
}

.home__sci__item{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: 2px solid var(--color-contraste);
    border-radius: 50%;
    font-size: 1.25rem;
    color: var(--color-contraste);
    z-index: 0;
    overflow: hidden;
}

/* Efecto cortina */

.home__sci__item:hover{    
    color: var(--color-sec-cortina);
}

.home__sci__item::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: var(--color-contraste);
    z-index: -1;
    transition: .5s; 
}

.home__sci__item:hover::before{
    height: 100%;
}


/*Sección About*/

.about__container{    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 0;   
    gap: 3rem;
}

.about__title, .skills__title, .hobbies__title, .academic__title, .experience__title, .contacto__title{
    font-size: 3.2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.about__title span{
    color: var(--color-contraste);
}

.about__paragraph{
    font-size: 1.6rem;
}



/*Sección Skills*/
.hobbies, .skills, .academic, .experience, .contacto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}

.skills__line{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
    width: 100%;
}

.skills__card, .hobbies__card, .academic__box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;  
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);  
}

.skills__card:hover, .hobbies__card:hover, .academic__box:hover{
    border-radius: 1rem solid;
    transform: scale(1.05); 
}

.skills__img{
    font-size: 7rem;
    transition: 0.4s ease;
}

.skills__img:hover, .hobbies__img:hover{
    color: var(--color-contraste);
}

.skills__name, .hobbies__name{
    font-size: 2rem;
    font-weight: 200;
}


/*Sección Hobbies*/
.hobbies__line{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 3rem;
    width: 100%;
}

.hobbies__img{
    font-size: 7rem;
    transition: 0.4s ease;
    display: flex;
    justify-content: center;
}

/* Académica */

.academic__container{
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 100%;
}
  
.academic__box {
    max-width: 25rem;    
    gap: 3rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
  
.academic__figure {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
}
  
.academic__container-text{
    text-align: center;
}
  
.academic__text--title{
    font-size: 2rem;
    font-weight: 200;
    min-height: 7rem;    
}
  
.academic__text--inst {
    margin-top: 0.8rem;
}
  

/* Experiencia */

.experience__title{
    margin-top: 3rem;
}
  
.experience__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6.4rem;
    width: 100%;
}
  
.experience__box {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    width: 100%;
    justify-content: space-around;
}
  
.experience__box:nth-child(even) {
    flex-direction: row-reverse;
}
  
.experience__img{
    max-width: 500px;
}
  
.experience__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;    
}
  
.experience__text--title{
    font-size: 2rem;
}
  
.experience__container-enlace {
    text-align: center;
    display: flex;
    gap: 1.6rem;
}
  
  
  
  /* Contacto */
  
.contacto__box {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3.2rem;
    position: relative;
}
  
.contacto__title {
    margin: 2.8rem 0;
    text-align: center;
}
  
.contacto__subtext {
    font-size: 1.4rem;
    font-weight: 500;
}
  
.contacto__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.3rem;
}
  
.contacto__input-wrapper {
    --padding: 1.2rem;
    position: relative;
    width: 100%;
}
 
.contacto__input, .contacto__textarea {
    padding: 3.7rem 1.2rem 1.2rem;
    height: 5.6rem;
    width: 100%;
    background-color: var(--color-letra-blnc);
    border-radius: 0.4rem;
    border: none;
    border-bottom: 2px solid var(--color-border-input);
    outline: none;
}
  
.contacto__input {
    height: 5.6rem;
    padding: 3.7rem 1.2rem 1.2rem;
}
  
.contacto__textarea {
    height: 13.2rem;
    padding: 2.8rem 1.2rem;
    outline: none;
    resize: none;
}
  
.contacto__label, .contacto__label-textarea {
    position: absolute;
    color: var(--color-label);
    top: 1.8rem;
    left: var(--padding);
    transition: all 0.2s ease-in;
}
  
.contacto__input:is(:focus), .contacto__textarea:is(:focus) {
    border-bottom: 2px solid var(--color-blue);
}
  
.contacto__input:is(:focus, :valid) + .contacto__label, .contacto__textarea:is(:focus, :valid) + .contacto__label-textarea {
    transform: translateY(calc(-1 * var(--padding) + 5px));
    font-size: 1.2rem;
    color: var(--color-blue);
}
  

/* Validaciones */

/* Invalido */
.input-container--invalid .contacto__input,
.input-container--invalid .contacto__textarea {
  border-bottom: 2px solid var(--color-warning);
}

.input-container--invalid > .contacto__input:is(:invalid) + .contacto__label,
.input-container--invalid
  > .contacto__textarea:is(:invalid)
  + .contacto__label-textarea {
  transform: translateY(calc(-1 * var(--padding) + 5px));
  font-size: 1.2rem;
  color: var(--color-warning);
}

.input-message-error {
  font-size: 1.2rem;
  visibility: hidden;
  margin-top: 1rem;
  padding-left: 1.2rem;
}

.input-container--invalid .input-message-error {
  color: var(--color-warning);
  visibility: visible;
}

/* Valido */
.contacto__input:is(:valid),
.contacto__textarea:is(:valid) {
  border-bottom: 2px solid var(--color-valid);
}

.contacto__input:is(:valid) + .contacto__label,
.contacto__textarea:is(:valid) + .contacto__label-textarea {
  color: var(--color-valid);
}


/* Footer */
.footer__container {
  width: 100%;
  height: 10vh;  
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.footer__copyright {
  width: 90%;
  padding: 0 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2vw;
  color: var(--gray-400);
}

.footer__info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer__icono {
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
}

.footer__icono:hover {
  color: var(--color-contraste);
  transition: 200ms;
}

/* Responsive */


@media screen and (max-width: 1400px) {
    .menu__list__item a{
        margin-left: 2rem;
    }
}

@media screen and (max-width: 1200px) {

    section{
        padding: 10rem 4%;
    }
    
    .menu__header{
        padding: 2rem 4%;
    }

    .menu__list__item a{
        font-size: 1.2rem;
        margin-left: 1.4rem;
    }

    .footer__copyright {
        font-size: 1.5vw;
        padding: 0 2%;
    }
}

@media screen and (max-width: 992px) {
    .menu__title{
        font-size: 2rem;
    }

    .menu__list__item a{
        font-size: 1rem;
        margin-left: 1.2rem;        
    }   

    .about__paragraph{
        margin: 0 1rem;
    }

    .hobbies__line{
        grid-template-columns: repeat(3,1fr);
    }

    .experience__title{
        margin-top: 2rem;
    }
    .experience__img{
        max-width: 300px
    }

    .contacto__box{
        width: 95%;
    }
}

@media screen and (max-width: 768px) {

    section{
        padding: 10rem 3%;
    }

    .menu__header{
        padding: 2rem 3%;
    }

    .menu__title{
        font-size: 1.8rem;
    }

    .menu__list__item a{
        font-size: 0.8rem;      
        margin-left: 1.1rem; 
    } 
    
    .home{
        flex-direction: column;
    }

    .home__image{
        width: 200px;
        height: 200px;
    }
    
    .title__bio{
        font-size: 3.5rem
    }

    .about__paragraph{
        font-size: 1.4rem
    }

    .hobbies__line{
        grid-template-columns: repeat(2,1fr);
    }

    .academic__container{
        flex-direction: column;
        align-items: center;
    }

    .academic__text--title{
        min-height: 0;
    }

    .experience__container{
        gap: 4.5rem;
    }

    .experience__box{
        flex-direction: column;
    }

    .experience__box:nth-child(even){
        flex-direction: column;
    }
}

@media screen and (max-width: 620px) {
    #menu__button{
        display: block;
        cursor: pointer;  
    }
    
    .menu__header__nav{
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background: var(--background-header);
        display: none;
        pointer-events: none;
    }

    .menu__header__nav.activo{
        display: block;
        height: 100vh;
        pointer-events: auto;
    }

    .menu__title{
        font-size: 2rem;
    }

    .menu__list{
        flex-direction: column;
        margin-top: 5rem;
    }

    .menu__list__item{
        margin: 1.2rem 0 1.2rem 0;
    }

    .menu__list__item a{
        font-size: 2.2rem;
    }   
    
    .title__div{
        flex-direction: column;
    }

    .skills__img{
        font-size: 6rem;
    }

    .hobbies__img{
        font-size: 5rem;
    }

    .skills__name, .hobbies__name{
        font-size: 1.6rem;
    }

    .footer__copyright{
        flex-direction: column;
        font-size: 2.5vw;
    }

    .footer__info{
        padding-bottom: 1rem;
    }

    .footer__icono{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {

    section{
        padding: 10rem 2%;
    }

    .home__content{
        margin-left: 0;
    }
   
    .skills__line{
        grid-template-columns: repeat(2,1fr);
    }

    .footer__copyright{
        font-size: 3.5;
    }

}