:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
   --background: #0B141E;
   --color-leta-blnc: #FFFFFF;

   --fuente: 'Poppins', sans-serif;
}

body{
    background-color: var(--background) ;
    font-family: var(--fuente);
    color: var(--color-leta-blnc) ;
}

/*Sección Menu*/

/*No funciona: color de letra, transiciones */

.menu__header{ 
    background: rgba(0, 0, 0, 0.9); /*poner variable color */
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%; 
    padding: 2rem 10%;     
    justify-content: space-between;
    align-items: center;      
    z-index: 1;
}

.menu__title{    
    font-size: 2.2rem;
    font-weight: 600;
    color: aqua
}


#menu__button{
    display: none;
    font-size: 3rem;    
}

.menu__list{
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-end;
   align-items: center;
}

.menu__list__item a{
    font-size: 1.5rem;
    margin-left: 3.5rem;
    transition: 0.4s ease;
}

.menu__list__item a:hover{
    color: aqua;
}


@media screen and (max-width: 480px) {
   
    #menu__button{
        display: block;
        cursor: pointer;  
    }
    
    /*TODO transición */

    .menu__header__nav{
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background: rgba(0, 0, 0, 0.9);
        display: none;
        pointer-events: none;
    }

    .menu__header__nav.activo{
        display: block;
        height: 100vh;
        pointer-events: auto;
    }

    .menu__list{
        flex-direction: column;
    }

    .menu__list__item{
        margin: 1.2rem 0 1.2rem 0;
    }
    
}

/*Sección Title*/

section{
    padding: 10rem 10%;
    min-height: 100vh;
}

/*Sección About*/

section.about{

}

/*Sección Hobbies*/

section.hobbies{
    
}

/* Experiencia Académica*/

section.academic{

}

/* experiencia*/

section.experience{

}

/*Contacto*/

section.formcontato{

}

/*footeer*/

section.footer{
   
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/



/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}